// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
    td_rbkt_esc: td_rbkt_esc {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp RBKT>, <&kp ESC>;
    };
    td_rbkt_esc_lgui: td_rbkt_esc_lgui {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp LGUI>, <&td_rbkt_esc>;
    };
    td_lbkt_esc: td_lbkt_esc {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LBKT>, <&kp ESC>;
    };
    td_lbkt_esc_rgui: td_lbkt_esc_rgui {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp RGUI>, <&td_lbkt_esc>;
    };
    td_bslh_caps: td_bslh_caps {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp BSLH>, <&kp CAPS>;
    };
    td_bslh_caps_lshift: td_bslh_caps_lshift {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp LSHFT>, <&td_bslh_caps>;
    };
    td_sqt_caps: td_sqt_caps {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp SQT>, <&kp CAPS>;
    };
    td_sqt_caps_rshift: td_sqt_caps_rshift {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp RSHFT>, <&td_sqt_caps>;
    };
    td_fslh_qmark: td_fslh_qmark {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp FSLH>, <&kp QMARK>;
    };
    td_fslh_qmark_lalt: td_fslh_qmark_lalt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp LALT>, <&td_fslh_qmark>;
    };
    td_minus_excl: td_minus_excl {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp MINUS>, <&kp EXCL>;
    };
    td_minus_excl_ralt: td_minus_excl_ralt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp RALT>, <&td_minus_excl>;
    };
  };
};
